<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Claassens Wedding</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/owl.carousel.min.css">
<link rel="stylesheet" href="/styles/owl.theme.default.css">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Slab|Noticia+Text|Amita|Playfair+Display" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.4.0/gridlex.min.css">
  <link rel="stylesheet" href="/styles/style.css">
  <script src="https://use.fontawesome.com/d185550c4b.js">

</script>
</head>

<body>

  <!--Header Navigation-->
  <header id="home">

    <div class="mob-hide">
    <nav class="grid-middle mob-hide">
      <div class="NavLeft col-5">
        <a href="blog.html"> Honey-Moon Journal </a>
          <a href="index.html#OurStory"> Our Story </a>
          <a href="index.html#TheWedding"> The Wedding </a>
      </div>
      <div class="col-2">
        <a href="index.html"><h1> Claassens Wedding </h1></a>
      </div>
      <div class="NavRight col-5">
          <a href="photos.html"> Gallery </a>
          <a href="index.html#RSVP"> RSVP </a>
          <a href="index.html#AfterParty"> Happily Ever After Party </a>
      </div>
    </nav>
  </div>

      <!-- Hamburger Menu -->
      <section class="weddingDate bgColored mob-show">
  <h1> ~Claassens Wedding~
  </h1>
  </section>
      <div class="mob-show">
        <div class="burger-button">
            <span class="burger-top"></span>
            <span class="burger-middle"></span>
            <span class="burger-bottom"></span>
          </div>
         <div class="burger-menu">
          <nav>
            <ul>
              <li><a href="index.html#home">Home</a></li>
              <li><a href="index.html#OurStory">Our Story</a></li>
              <li><a href="index.html#TheWedding">The Wedding</a></li>
              <li><a href="blog.html">Honey Moon Journal</a></li>
              <li><a href="index.html#AfterParty">Happily Ever After Party</a></li>
              <li><a href="photos.html">Gallery</a></li>
              <li><a href="index.html#RSVP">RSVP</a></li>
            </ul>
          </nav>
        </div>
    </div>
  </div>


{{content}}



    <!-- Section 8 Footer RSVP form -->
    <section id="RSVP" class="grid-center bgColored padded-5">

      <h2 class="col-12 grid-center"> RSVP </h2>
      <form class="grid-center col-11" method="POST" action="http://formspree.io/candela.electrical@gmail.com">
<div class=rsvpStyle>
        <div class="col-12">
          <label for="name"> Name of Guest/s </label>
          <input type="text" name="name" id="name" placeholder="" required="true"/>
        </div>

        <div class="col-12">
          <lable for="email"> Email Address</lable>
          <input type="email" name="email" placeholder="" required="true">
        </div>

        <div class="col-12">
          <label for="attending"> Will you be attending our Happily Ever After Party? </label>
          <textarea name="attending" placeholder="" required="true"></textarea>
        </div>

        <div class="col-12">
          <lable for="message"> Message for the couple</lable>
          <textarea name="message" placeholder=" please include any dietary requirements if attending"></textarea>
        </div>
</div> <!--closing div to have send button outside the RSVP note border-->

        <div class="col-12 button">
          <button type="submit">Send RSVP</button>
        </div>

      </form>

      <a class="top-button" href="#home"> <i class="fa fa-angle-double-up" aria-hidden="true"> </i> </a>


  </section>

  <div class="col-12">
      <p> Website designed and built by Sara Kelly</p>
      </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/smoothscroll.js" type="text/javascript"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/script.js" type="text/javascript"></script>
  </body>

  </html>
